body, .mui-content {
	background-color: #FFFBF2;
	color: #fff;
	margin: 0;
	padding: 0;
	/*font-weight: bold;*/
	font-family: "微软雅黑";
}

.mui-content div {
	color: #000;
}

.mui-bar {
	z-index: 0;
}

a.mui-icon {
	color: white;
}

a.mui-icon-more {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	/* IE 9 */
	-moz-transform: rotate(90deg);
	/* Firefox */
	-webkit-transform: rotate(90deg);
}

.g-header_bg {
	background: #383a3f;
}

h4 {
	margin-top: 2vh;
	height: 2.8vh;
	padding-left: 1vh;
	border-left: 1px solid white;
}

li {
	list-style: none;
}