.g-buy_suc {
	text-align: center;
	margin-top: 5vh;
	font-size: 1.6rem;
	color: #bbb;
}

.mui-card {
	background: #1c1c1c;
	margin-bottom: 2vh;
}

.mui-content .mui-card.g-porter_code_title {
	margin-top: 6vh;
}

div.second {
	margin-bottom: 1vh;
}

.mui-card li {
	list-style: none;
}

.u-porter_code {
	margin-top: 4vh;
	text-align: center;
	margin-bottom: 4vh;
	color: #ca9331;
	font-size: 1.6rem;
}

.u-date_valid {
	text-align: center;
	color: #999;
	font-size: 1.2rem;
}

.mui-card-content-inner .u-introduce {
	text-align: center;
	color: #666;
	font-size: .8rem;
	margin-bottom: 4vh;
}

.mui-card div.u-waiter {
	margin-top: 2vh;
	color: #ca9331;
	font-size: 1.2rem;
}

.m-share {
	width: 100%;
	padding: 2vh 0 0 2vh;
	margin-top: 4vh;
}

.m-share button {
	width: 40%;
	height: 6vh;
}

.m-share .share {
	background-color: #ec6739;
	border: 1px solid #ec6739;
	color: #fdc1a4;
}

.m-share .give {
	float: right;
	margin-right: 2vh;
	background-color: #f29e3f;
	border: 1px solid #f29e3f;
	color: #f3f1b3;
}

.mui-collapse a {
	background: #1C1C1C;
}

.mui-table-view-cell.mui-collapse .mui-collapse-content {
	background: #1c1c1c;
}

.mui-collapse-content .mui-input-group {
	background: #1c1c1c;
}

.m-waiter_num {
	margin-top: 2vh;
}

.u-mobile_box {
	background: #d9d9d9;
	width: 50vw;
	/*height: 4vh;*/
	margin-left: 8vw;
	line-height: 0vh;
	border-radius: 6px;
}

div.m-code {
	text-align = center;
	
	margin-top: 4vh;
	color: #979797;
}

.u-btn_sure {
	margin-right: 10vw;
	line-height: 3vh;
	width: 14vw;
	height: 6vh;
	color: #979797;
}

.mui-table-view-cell>a:not (.mui-btn ).mui-active {
	background: #1c1c1c;
}

.mui-table-view-cell.mui-active {
	background: #1C1C1C;
}

div.mui-card-content-inner {
	padding: 0;
}